*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color:white;
    --background-img: url(./bg-mobile.jpg);
    --border-bottom:rgba(255, 255, 255, 0.133);
    --border-click: rgba(255, 255, 255, 0.388);
    --background-click:rgba(132, 130, 134, 0.107); 
    --background-bottom:rgba(255, 255, 255, 0.02);
    --sun-moon: url(./moon.stars.svg);

    

} 

.light{
    --text-color:black;
    --background-img: url(./bg-mobile-light.jpg);
    --border-bottom: rgba(114, 97, 127, 0.745);
    --border-click: rgba(62, 54, 65, 0.578);
    --background-click:rgba(137, 136, 138, 0.151);
    --background-bottom:rgba(255, 255, 255, 0.185);
    --sun-moon: url(./sun.svg);
    
   
    
}


body{
    background: var(--background-img) top center/cover;
}

body * {
    font-family:'inter' , sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 550px;
    margin: auto;
    margin: 56px auto 0;
    padding: 0 15px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile  img {
    width: 112px; 
}

#profile p {
  
    font-weight: 400;
    line-height: 24px;
    margin-top: 4px;
}
#switch{
    position: relative;
    width: 64px;

    margin: 4px auto;
    top: -18px;
  
    
    
}

#switch button{
    width:32px ;
    height:32px ;
    background: white var(--sun-moon) no-repeat center;
    border: 0;
    border-radius: 50%;

    position:absolute;
    top: 50%;
    right: 0; 
    z-index: 1;
    transform: translateY(-50%);
}
.light #switch button {
    right: 32px ;
    left: initial;
}

#switch span{
    display: block;
    width:64px ;
    height:24px ;
    background: var(--background-bottom);
    border: 1px solid var(--border-bottom);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
    
}





ul{
    list-style: none;
   
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    

}   

ul li  a{
 
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;
  
  
  background-color: var(--background-bottom);
  border:1px solid var(--border-bottom);
  border-radius: 10px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  transition: background 0.1s;
 
}

ul li :hover{
    background-color: var(--background-click);
    border: 1px solid var(--border-click);
    
}

#social-links {
    display: flex;
    justify-content: center;

    gap: 15px;
   
    padding: 20px 0;

    font-size: 30px;
}
#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    
}

#social-links :hover{
    background-color:rgba(137, 136, 138, 0.151);   
    border-radius: 50%;
}

p {
    text-align: center;
    padding: 15px;
   
}